@charset "utf-8";
/* CSS Document */
html,body{min-height:100%}
body{
  margin: 0;
  padding: 0;
  background: url("../jpg/blackops4wallpaper3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif
}
/* css del del tag h1 */
h1 {
  text-align: center;
  color: red;
}
/* CSS tag table */
table {
  margin: 0 auto;
}

a {
  color:red;
}

