#Medico {
  background-image: url("../jpg/medico.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Consumatore {
  background-image: url("../jpg/consumatore.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Forestiero {
  background-image: url("../jpg/forestiero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Furtivo {
  background-image: url("../jpg/furtivo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Paranoia {
  background-image: url("../jpg/paranoia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Rinforzato {
  background-image: url("../jpg/rinforzato.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Geniere {
  background-image: url("../jpg/geniere.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Attaccabrighe {
  background-image: url("../jpg/attaccabrighe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Mobilita {
  background-image: url("../jpg/mobilita.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Silenzio_di_tomba {
  background-image: url("../jpg/silenzioditomba.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Percezione {
  background-image: url("../jpg/percezione.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
