@charset "utf-8";
/* CSS Document */

/*Fucili assalto*/
#Strife {
  background-image: url("../jpg/strife.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Mozu {
  background-image: url("../jpg/mozu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#ICR-7 {
  background-image: url("../jpg/icr-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#KN-57 {
  background-image: url("../jpg/kn57.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Rampart_17 {
  background-image: url("../jpg/rampart17.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Vapr-XKG {
  background-image: url("../jpg/vapr-xkg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Maddox_RFB {
  background-image: url("../jpg/maddox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Auger_DMR {
  background-image: url("../jpg/augerdmr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#ABR_223 {
  background-image: url("../jpg/abr223.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Swordfish {
  background-image: url("../jpg/.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Paladin_HB50 {
  background-image: url("../jpg/.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Koshka {
  background-image: url("../jpg/.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#MOG_12 {
  background-image: url("../jpg/mog12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#SG12 {
  background-image: url("../jpg/sg12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#MX9 {
  background-image: url("../jpg/mx9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#GKS {
  background-image: url("../jpg/gks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Spitfire {
  background-image: url("../jpg/.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Cordite {
  background-image: url("../jpg/cordite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Saug_9mm {
  background-image: url("../jpg/saug.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Titan {
  background-image: url("../jpg/titan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Zweihander {
  background-image: url("../jpg/.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Hellion_Salvo {
  background-image: url("../jpg/hellionsalvo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Lanciagranate_War_Machine {
  background-image: url("../jpg/.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
